{#
/**
 * @file hhi-faq-search-results-page.html.twig

 * Custom theme implementation of FAQ search results page.
 *
 * Available variables:
 * - results: Array of faq items.
 * - page: Current page.
 */
#}
<div class="c-faq__search-results-page" data-page="{{ page }}">
    {{ results }}
</div>